/* RAVI RAHUL  13/08/2018  16:30  */

.body{
    background-color: #55BCC9;
    color: white;
    font-family: Garamond;
    }
    
 #header{
    color: #5C4445;
    font-family: palatino;
    background: #1A1A1D;
    color: #C3073F;
    font-family: "ostrich sans bold" "ostrich sans" arial;
    position: fixed;
    }
    
#flipkart{
    height: 200px;
    width: 1000px;
    border: 1px solid black;
    background: #F7A200;
    color: white;
    padding: 2px;
    margin: 2px 2px 2px 2px;
    position: relative;
}

#amazon{
    height: 250px;
    width: 1000px;
    border: 1px solid black;
    background: #FF9B00;
    color: white;
    padding: 2px;
    margin: 2px 2px 2px 2px;
    position: relative;
}
