/* Ravi Rahul - uploaded v1 on 12/12/2018*/


*{
box-sizing: border-box;
}


body{
background-color: skyblue;
box-sizing: border-box;
}

.column{
height: 1000px;
width: 320px;
background-color: blue;
padding: 5px;
margin: 5px;
box-sizing: border-box;   /* box sizing*/
display: inline-block;
overflow: auto;
}

	#column1{
		background-color: white;
		margin-left: 50px;
		}

	#column2{
		background-color: red;
		}
	
	#column3{
		background-color: green;
		}

	
.colHead{
height: 30px;
width: 310px;
background-color: pink;
margin-bottom: 5px;
padding: 5px;

}

.box{
height: 100px;
width: 100px;
background-color: grey;
padding: 2px;
display: inline-block;
box-sizing: border-box;
}

	.x2x2{
		height: 200px;
		width: 204px;
		}
	#box116{
		background-color: black;
		/* position: relative;
		top: -622px;
		right: 105px;*/ 
	}

/*	#box27{ */
	.x2x1{
		height: 100px;
		width: 204px;
		}
	
/*	#box310{
		height: 200px;
		width: 204px;*/
}



#img2x2{
	height=195px;
	width=195px;
}

#img2x1{
	height=100px;
	width=150px;
}

#img1x1{
	height=100px;
	width=100px;
}
